.convered {
	height: 22px;
	width: 22px;
	cursor: pointer;
	border-style: outset;
	float: left;
	border-width: 5px;
	border-color: gray;
	background-color: gray;
}

.discovered {
	height: 22px;
	width: 22px;
	cursor: pointer;
	border-style: inset;
	float: left;
	border-width: 5px;
	border-color: gray;
	background-color: white;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8) url('../img/pIkfp.gif') 50% 50%
		no-repeat;
}

body.loading {
	overflow: hidden;
}

body.loading .modal {
	display: block;
}